DRI/Web References/Cancelacion/Application.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://facturacion.finkok.com/cancel" xmlns:senc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="apps.services.soap.core.views" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://facturacion.finkok.com/cancellation" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:s12env="http://www.w3.org/2003/05/soap-envelope/" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s12enc="http://www.w3.org/2003/05/soap-encoding/" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:senv="http://schemas.xmlsoap.org/soap/envelope/" name="Application" targetNamespace="http://facturacion.finkok.com/cancel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://facturacion.finkok.com/cancellation">
      <xs:complexType name="stringArray">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="stringArray" type="s1:stringArray" />
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="apps.services.soap.core.views">
      <xs:import namespace="http://facturacion.finkok.com/cancellation" />
      <xs:complexType name="ReceiptResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="success" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="receipt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UUIDS">
        <xs:sequence>
          <xs:element minOccurs="0" name="uuids" nillable="true" type="s1:stringArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelaCFDResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Folios" nillable="true" type="s0:FolioArray" />
          <xs:element minOccurs="0" name="Acuse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RfcEmisor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodEstatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FolioArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Folio" nillable="true" type="s0:Folio" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Folio">
        <xs:sequence>
          <xs:element minOccurs="0" name="EstatusUUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryPendingResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uuid_status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="next_attempt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="attempts" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="QueryPendingResult" type="s0:QueryPendingResult" />
      <xs:element name="Folio" type="s0:Folio" />
      <xs:element name="FolioArray" type="s0:FolioArray" />
      <xs:element name="CancelaCFDResult" type="s0:CancelaCFDResult" />
      <xs:element name="UUIDS" type="s0:UUIDS" />
      <xs:element name="ReceiptResult" type="s0:ReceiptResult" />
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://facturacion.finkok.com/cancel">
      <xs:import namespace="apps.services.soap.core.views" />
      <xs:complexType name="sign_cancel">
        <xs:sequence>
          <xs:element minOccurs="0" name="UUIDS" nillable="true" type="s0:UUIDS" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="store_pending" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel_signatureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancel_signatureResult" nillable="true" type="s0:CancelaCFDResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="get_receipt">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="out_cancelResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="out_cancelResult" nillable="true" type="s0:CancelaCFDResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancelResult" nillable="true" type="s0:CancelaCFDResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="get_receiptResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="get_receiptResult" nillable="true" type="s0:ReceiptResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel">
        <xs:sequence>
          <xs:element minOccurs="0" name="UUIDS" nillable="true" type="s0:UUIDS" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cer" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="store_pending" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="query_pending_cancellation">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="query_pending_cancellationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="query_pending_cancellationResult" nillable="true" type="s0:QueryPendingResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel_signature">
        <xs:sequence>
          <xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="store_pending" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sign_cancelResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="sign_cancelResult" nillable="true" type="s0:CancelaCFDResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="out_cancel">
        <xs:sequence>
          <xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cer" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="store_pending" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="out_cancel" type="tns:out_cancel" />
      <xs:element name="sign_cancelResponse" type="tns:sign_cancelResponse" />
      <xs:element name="cancel_signature" type="tns:cancel_signature" />
      <xs:element name="query_pending_cancellationResponse" type="tns:query_pending_cancellationResponse" />
      <xs:element name="query_pending_cancellation" type="tns:query_pending_cancellation" />
      <xs:element name="cancel" type="tns:cancel" />
      <xs:element name="get_receiptResponse" type="tns:get_receiptResponse" />
      <xs:element name="cancelResponse" type="tns:cancelResponse" />
      <xs:element name="out_cancelResponse" type="tns:out_cancelResponse" />
      <xs:element name="get_receipt" type="tns:get_receipt" />
      <xs:element name="cancel_signatureResponse" type="tns:cancel_signatureResponse" />
      <xs:element name="sign_cancel" type="tns:sign_cancel" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="cancel_signature">
    <wsdl:part name="cancel_signature" element="tns:cancel_signature" />
  </wsdl:message>
  <wsdl:message name="cancel_signatureResponse">
    <wsdl:part name="cancel_signatureResponse" element="tns:cancel_signatureResponse" />
  </wsdl:message>
  <wsdl:message name="query_pending_cancellation">
    <wsdl:part name="query_pending_cancellation" element="tns:query_pending_cancellation" />
  </wsdl:message>
  <wsdl:message name="query_pending_cancellationResponse">
    <wsdl:part name="query_pending_cancellationResponse" element="tns:query_pending_cancellationResponse" />
  </wsdl:message>
  <wsdl:message name="sign_cancel">
    <wsdl:part name="sign_cancel" element="tns:sign_cancel" />
  </wsdl:message>
  <wsdl:message name="sign_cancelResponse">
    <wsdl:part name="sign_cancelResponse" element="tns:sign_cancelResponse" />
  </wsdl:message>
  <wsdl:message name="get_receipt">
    <wsdl:part name="get_receipt" element="tns:get_receipt" />
  </wsdl:message>
  <wsdl:message name="get_receiptResponse">
    <wsdl:part name="get_receiptResponse" element="tns:get_receiptResponse" />
  </wsdl:message>
  <wsdl:message name="cancel">
    <wsdl:part name="cancel" element="tns:cancel" />
  </wsdl:message>
  <wsdl:message name="cancelResponse">
    <wsdl:part name="cancelResponse" element="tns:cancelResponse" />
  </wsdl:message>
  <wsdl:message name="out_cancel">
    <wsdl:part name="out_cancel" element="tns:out_cancel" />
  </wsdl:message>
  <wsdl:message name="out_cancelResponse">
    <wsdl:part name="out_cancelResponse" element="tns:out_cancelResponse" />
  </wsdl:message>
  <wsdl:portType name="Application">
    <wsdl:operation name="cancel_signature" parameterOrder="cancel_signature">
      <wsdl:documentation>This method cancels a CFDI by the given enveloped signature</wsdl:documentation>
      <wsdl:input name="cancel_signature" message="tns:cancel_signature" />
      <wsdl:output name="cancel_signatureResponse" message="tns:cancel_signatureResponse" />
    </wsdl:operation>
    <wsdl:operation name="query_pending_cancellation" parameterOrder="query_pending_cancellation">
      <wsdl:documentation>This method returns the status of a peding buffer invoice by using an uuid</wsdl:documentation>
      <wsdl:input name="query_pending_cancellation" message="tns:query_pending_cancellation" />
      <wsdl:output name="query_pending_cancellationResponse" message="tns:query_pending_cancellationResponse" />
    </wsdl:operation>
    <wsdl:operation name="sign_cancel" parameterOrder="sign_cancel">
      <wsdl:documentation>This method returns a session id for work with the webservices</wsdl:documentation>
      <wsdl:input name="sign_cancel" message="tns:sign_cancel" />
      <wsdl:output name="sign_cancelResponse" message="tns:sign_cancelResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_receipt" parameterOrder="get_receipt">
      <wsdl:documentation>This method returns the sat receipt (response) of the cancellation webservice</wsdl:documentation>
      <wsdl:input name="get_receipt" message="tns:get_receipt" />
      <wsdl:output name="get_receiptResponse" message="tns:get_receiptResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancel" parameterOrder="cancel">
      <wsdl:documentation>This method returns a session id for work with the webservices</wsdl:documentation>
      <wsdl:input name="cancel" message="tns:cancel" />
      <wsdl:output name="cancelResponse" message="tns:cancelResponse" />
    </wsdl:operation>
    <wsdl:operation name="out_cancel" parameterOrder="out_cancel">
      <wsdl:input name="out_cancel" message="tns:out_cancel" />
      <wsdl:output name="out_cancelResponse" message="tns:out_cancelResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Application" type="tns:Application">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cancel_signature">
      <soap:operation soapAction="cancel_signature" style="document" />
      <wsdl:input name="cancel_signature">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancel_signatureResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query_pending_cancellation">
      <soap:operation soapAction="query_pending_cancellation" style="document" />
      <wsdl:input name="query_pending_cancellation">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="query_pending_cancellationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sign_cancel">
      <soap:operation soapAction="sign_cancel" style="document" />
      <wsdl:input name="sign_cancel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sign_cancelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_receipt">
      <soap:operation soapAction="get_receipt" style="document" />
      <wsdl:input name="get_receipt">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="get_receiptResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="cancel" style="document" />
      <wsdl:input name="cancel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="out_cancel">
      <soap:operation soapAction="out_cancel" style="document" />
      <wsdl:input name="out_cancel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="out_cancelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CancelSOAP">
    <wsdl:port name="Application" binding="tns:Application">
      <soap:address location="https://facturacion.finkok.com/servicios/soap/cancel" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>